@media screen and (max-width: 1000px){
    .header{
        flex-direction: column;
        height: 5.938rem;
        margin: 1rem 7.5rem;
    }
}
@media screen and (max-width: 1240px){
    .partners{
        flex-direction: row;
        justify-content: center;
    }
    .partners-row{
        flex-direction: column;
    }
}
@media screen and (max-width: 1350px){
    .content-1{
        flex-direction: column;
        align-items: center;
    }
    .content-2{
        flex-direction: column-reverse;
        align-items: center;
    }.content-3{
        flex-direction: column;
        align-items: center;
    }.content-4{
        flex-direction: column;
        align-items: center;
    }.content-5{
        flex-direction: column-reverse;
        align-items: center;
    }.content-6{
        flex-direction: column;
        align-items: center;
    }.content-7{
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media screen and (max-width: 750px){
    .license{
        flex-direction: column;
    }
    .license-1{
        width: 50%;
    }
}
@media screen and (max-width: 830px){
    .smartphone{
        width: 21.875rem;
    }
    .header{
        margin: 1rem 0;
    }
    .content-1{
        margin: 0;
    }
    .content-2{
        margin: 0;
    }
    .content-3{
        margin: 0;
    }
    .content-4{
        margin: 0;
    }
    .content-5{
        margin: 0;
    }
    .content-6{
        margin: 0;
    }
    .content-7{
        margin: 0;
    }
    .cashback .content-text{
        width: 26.5rem;
    }
    .footer{
        margin: 0;
    }
    .license{
        margin: 0;
    }
    .zen-zero{
        margin-left: 0;
    }
}
@media screen and (max-width: 500px){
    .content-1 .content-left .content-text, .start-content-text{
        width: 15rem;
    }
    .content-2 .content-right-2 .content-text{
        width: 15rem;
    }
    .content-3 .content-left-3 .content-text{
        width: 15rem;
    }
    .content-4 .content-left-4 .content-text{
        width: 15rem;
    }
    .content-5 .content-right-5 .content-text, .start-content-text{
        width: 15rem;
    }
    .content-6 .content-left-6 .start-content-text{
        width: 15rem;
    }
    .content-6 .content-left-6 .content-text{
        width: 15rem;
    }
    .content-7 .content-right-7 .start-content-text{
        width: 15rem;   
    }
    .content-7 .content-right-7 .content-text{
        width: 15rem;
    }
    .cashback .content-text{
        width: 15rem;
    }
    .get-app{
        display: none;
    }
    .get-app-button_adaptive{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
    .content-left{
        margin-top: 3.6875rem;
    }
    .content-right-2{
        margin-top: 5.625rem;
    }
    .content-left-3{
        margin-top: 5.375rem;
    }
    .cashback{
        margin-top: 5.8125rem;
    }
    .content-left-4{
        margin-top: 5.25rem;
    }
    .content-right-5{
        margin-top: 5.1875rem;
    }
    .content-left-6{
        margin-top: 6.3125rem;
    }
    .content-right-7{
        margin-top: 4.5rem;
    }
}
@media screen and (max-width: 360px){
    .smartphone{
        width: 11.25rem;
    }
    .partners .partners-row img{
        width: 5rem;
    }
    .download-appstore .apap img{
        width: 5rem;
    }
}